@model Statos.Service.Products.ProductViewModel 
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

@section ProductSideBar
{
    @Html.ActionLink("List of all Products", "List", "Product")
    @Html.ActionLink("Create Product", "Create", "Product")
}

<br />
<p>
    @Html.DisplayFor(product => product.Picture)
</p>
<p>
    @Html.LabelFor(product => product.Name)
    @Html.DisplayFor(product => product.Name)
</p>
<p>
    @Html.LabelFor(product => product.Brand.Name)
    @Html.DisplayFor(product => product.Brand.Name)
</p>
<p>
    @Html.LabelFor(product => product.Category.Name)
    @Html.DisplayFor(product => product.Category.Name)
</p>
<p>
    @Html.LabelFor(product => product.Price)
    @Html.DisplayFor(product => product.Price)
</p>
<p>
    @*@Html.LabelFor(product => product.Description)*@
    @Html.DisplayFor(product => product.Description)
</p>
<p>
    <img src= "@Url.Content(Model.Picture)" alt="IMAGES" />
</p>
<p>
</p>
