@model Statos.Service.Accounts.AccountViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

@section AccountSideBar
{
    @Html.ActionLink("List of all Account", "List", "Account")
    @Html.ActionLink("Creat New Account", "Create", "Account")
}

@using (Html.BeginForm())
{
       @Html.HiddenFor(reset => reset.AccountId)
       @Html.HiddenFor(reset => reset.UserName)
       @Html.HiddenFor(reset => reset.Sex)
       @Html.HiddenFor(reset => reset.SecurityEmail)
       @Html.HiddenFor(reset => reset.Role)
       @Html.HiddenFor(reset => reset.PhoneNumber)
       @Html.HiddenFor(reset => reset.Password)
       @Html.HiddenFor(reset => reset.MobileNumber)
       @Html.HiddenFor(reset => reset.LastName)
       @Html.HiddenFor(reset => reset.Email)

    <div>
        @Html.LabelFor(reset => reset.Password)
        @Html.PasswordFor(reset => reset.Password)
    </div>
    <div>
        @Html.LabelFor(reset => reset.ConfirmPassword)
        @Html.PasswordFor(reset => reset.ConfirmPassword)
    </div>
    <div>
        @Html.ValidationSummary()
    </div>
    <div>
        <input type="submit" value="Reset" />
    </div>
    
}
