@model IEnumerable<Statos.Service.Stores.StoreViewModel>
@{
    ViewBag.Title = "List";
}
<div>
    @Html.ActionLink("Add more to Store", "Add", "Store")
</div>
@foreach (var item in Model)
{
    <div>
        @Html.LabelFor(store => item.ProductName)
        @Html.DisplayFor(store => item.ProductName)
    </div>
    <div>
        @Html.LabelFor(store => item.NumberOfProduct)
        @Html.DisplayFor(store => item.NumberOfProduct)
    </div>
    <div>
        @Html.LabelFor(store => item.Price)
        @Html.DisplayFor(store => item.Price)
    </div>
    <div>
        @Html.LabelFor(store => item.DateOfPurchase)
        @Html.DisplayFor(store => item.DateOfPurchase)
    </div>
    <div>
        @Html.LabelFor(store => item.PurchaserName)
        @Html.DisplayFor(store => item.PurchaserName)
    </div>
    <div>
        @Html.LabelFor(store => item.VendorName)
        @Html.DisplayFor(store => item.VendorName)
    </div>
    <div>
        @Html.LabelFor(store => item.VendorCountry)
        @Html.DisplayFor(store => item.VendorCountry)
    </div>          
    <div>
        @Html.LabelFor(store => item.TotalPrice)
        @Html.DisplayFor(store => item.TotalPrice)
    </div> 
}
